<%
  links = [
    'HOME',
    'NBA',
    'NFL',
    'MLB',
    'NHL',
    'CBB',
    'CFB',
    'NASCAR',
    'GOLF',
    'SOCCER',
    'TEAM HUB',
    'LIFESTYLE',
    'DEALBOOK',
    'VIDEO',
  ]
%>
<div class="sidebar">
  <ul class="sidebar-links"  data-simplebar data-simplebar-direction='rtl'>
    <% links.each.with_index do |l, i| %>
      <li class="sidebar-link-wrapper <%= i == 0 ? 'active' : '' %>">
        <a href="#" class="sidebar-link"><%= l %></a>
      </li>
    <% end %>
  </ul>
  <div class="sidebar-follow">
    <div class="sidebar-follow__title">
      Follow
    </div>
    <div class="sidebar-follow__group">
      <a href="#" class="sidebar-follow__link">
        <%= image_tag 'social/facebook.svg', alt: 'facebook icon', class: 'sidebar-follow__icon' %>
      </a>
      <a href="#" class="sidebar-follow__link">
        <%= image_tag 'social/twitter.svg', alt: 'twitter icon', class: 'sidebar-follow__icon' %>
      </a>
    </div>
    <div class="sidebar-follow__group">
      <a href="#" class="sidebar-follow__link">
        <%= image_tag 'social/google.svg', alt: 'google icon', class: 'sidebar-follow__icon' %>
      </a>
      <a href="#" class="sidebar-follow__link">
        <%= image_tag 'social/youtube.svg', alt: 'youtube icon', class: 'sidebar-follow__icon' %>
      </a>
    </div>
  </div>
</div>