<% content_for :styles do %>
  <%= stylesheet_link_tag 'home-page', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_pack_tag 'home-page' %>
<% end %>

<div>
    <div class="hero-wrapper">
    <div class="hero-list" id="hero-carousel">
      <% @heroes.each do |hero| %>
        <div class="hero">
          <div class="category-name">
            <%= hero[:group] %>
          </div>
          <div class="hero__logo-wrapper">
            <img class="hero__logo" src="<%= hero[:logo] %>" alt="">
          </div>
        </div>
      <% end %>

    </div>
    <div class="hero-info-list-wrapper">
      <div class="hero-info-list" id="hero-info-carousel">

        <% @heroes.each do |hero| %>

          <div class="hero-info">
            <div class="hero-info__published">
              Published / <%= hero[:published] %>
            </div>
            <div class="hero-info__title">
              <%= hero[:title].truncate(30) %>
            </div>
            <div class="hero-info__text">
              <%= hero[:text].truncate(75) %>
            </div>
            <button class="hero-info__action button-large">More</button>
          </div>

        <% end %>
      </div>
      <div class="hero-nav">
        <div class="hero-nav__before">
          <span class="material-icons">navigate_before</span>
        </div>
        <div class="hero-nav__pages">
          <% @heroes.length.times do |t| %>
            <div class="hero-nav__page" data-slide="0">0<%= t + 1%></div>
          <% end %>
        </div>
        <div class="hero-nav__next">
          <span class="material-icons">navigate_next</span>
        </div>
      </div>
    </div>
</div>

  <div class="hero-articles-preview">
    <div class="hero-article-preview">
      <div class="hero-article-preview__logo-wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" alt="article preview" class="hero-article-preview__logo">
      </div>
      <div class="hero-article-preview__title">
        Raiders release
      </div>
      <div class="hero-article-preview__text">
        After a five-year stint with the Oakland Raiders
      </div>
      <div class="hero-article-preview__nav">
        <span class="material-icons">east</span>
      </div>
    </div>

    <div class="hero-article-preview">
      <div class="hero-article-preview__logo-wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" alt="article preview" class="hero-article-preview__logo">
      </div>
      <div class="hero-article-preview__title">
        Raiders release
      </div>
      <div class="hero-article-preview__text">
        After a five-year stint with the Oakland Raiders
      </div>
      <div class="hero-article-preview__nav">
        <span class="material-icons">east</span>
      </div>
    </div>

    <div class="hero-article-preview">
      <div class="hero-article-preview__logo-wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" alt="article preview" class="hero-article-preview__logo">
      </div>
      <div class="hero-article-preview__title">
        Raiders release
      </div>
      <div class="hero-article-preview__text">
        After a five-year stint with the Oakland Raiders
      </div>
      <div class="hero-article-preview__nav">
        <span class="material-icons">east</span>
      </div>
    </div>

    <div class="hero-article-preview">
      <div class="hero-article-preview__logo-wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" alt="article preview" class="hero-article-preview__logo">
      </div>
      <div class="hero-article-preview__title">
        Raiders release
      </div>
      <div class="hero-article-preview__text">
        After a five-year stint with the Oakland Raiders
      </div>
      <div class="hero-article-preview__nav">
        <span class="material-icons">east</span>
      </div>
    </div>
  </div>

  <div class="breakdown-divider section-divider">
    <div class="section-divider__line"></div>
    <div class="section-divider__content">
      BREAKDOWN
    </div>
  </div>

  <div class="breakdown">
    <div class="breakdown-row">
      <%= render 'home/partials/news-preview'%>
      <div class="block-group">
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
      </div>
    </div>
    <div class="breakdown-row">
      <%= render 'home/partials/news-preview'%>
      <div class="block-group">
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
      </div>
    </div>
  </div>

  <div class="pod-divider section-divider">
    <div class="section-divider__line"></div>
    <div class="section-divider__content">
      PHOTO OF THE DAY
    </div>
  </div>

  <div class="pod">
    <div class="pod-container">
      <div class="pod-sign">
        <span class="pod-sign-decoration"></span>
        <div>
          <b>PHOTO</b><br/>
          OF THE<br/>
          <b>DAY</b>
        </div>
      </div>
      <div class="pod__logo-wrapper">
        <img class="pod__logo" src="https://www.businessinsider.in/photo/77825377/Lionel-Messi-leaving-Barcelona-would-be-the-biggest-and-most-shocking-transfer-in-football-history-but-it-would-make-perfect-sense-for-everyone.jpg?imgsize=330710" alt="photo of the day">
      </div>
      <div class="pod-description">
        <div class="pod-description__title">
          Defending The Throne
        </div>
        <div class="pod-description__text">
          Los Angeles Lakes guard Derek Fisher, right, is pressured by the Denver Nuggets Nene during th efirst quarter of NBA exhibition action on Oct 16
        </div>
        <div class="pod-description__source">
          Photo Courtesy MCT
        </div>
      </div>
    </div>
  </div>

  <div class="top-data">
    <div class="most-popular">
      <div class="aside-divider">
        <div class="aside-divider__content">
          MOST POPULAR
        </div>
        <div class="aside-divider__line">
        </div>
      </div>

      <div class="top-data-col block-group">
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
      </div>
    </div>

    <div class="most-commented">
      <div class="aside-divider">
        <div class="aside-divider__content">
          MOST COMMENTED
        </div>
        <div class="aside-divider__line">
        </div>
      </div>

      <div class="top-data-col block-group">
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
        <%= render 'home/partials/block-item'%>
      </div>
    </div>
  </div>

</div>

