
<div class="admin-sidebar">
  <ul class="admin-sidebar__links">
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/survey.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/banner.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/language.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/footer.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/share.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/users.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/ia.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
    <li class="admin-sidebar__link-wrapper">
      <a href="#" class="admin-sidebar__link">
        <div class="admin-sidebar__link-icon-wrapper">
          <%= inline_svg_tag 'admin/sidebar/teams.svg', class: "admin-sidebar__link-icon" %>
        </div>
      </a>
    </li>
  </ul>
</div>
