<!DOCTYPE html>
<html>
  <head>
    <title>SportNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :styles %>
  </head>
  <body>
    <div class="app-wrapper">
      <%= render 'partials/header' %>

      <div class="app-container">
        <div class="app-container__sidebar">
          <%= render 'partials/sidebar' %>
        </div>
        <div class="app-container__content">
          <%= yield %>
        </div>
      </div>
      <%= render 'partials/footer' %>
    </div>

    <%= yield :scripts %>
  </body>
</html>
